@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(media/1068630.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   height: 100vh;
    text-align: center;

}
#header{
 display: flex;
    justify-content: center;

}
#name{
    background-color: transparent;
    width: max-content;
    padding: 0 2rem 0 2rem;
    border-radius: 0 0 5rem 5rem;
    border: 3px solid rgb(232,161,175);
    
}

#name h1{
 font-size: 5rem;
 color: rgb(129,125,199);

}




.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    backdrop-filter: blur(2px);
    
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:3px solid rgb(129,125,199);
    font-size: 10vmin;
    background-color: transparent;
   
}
#reset-btn{
    height: auto;
    width: auto;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 0.7rem;
    color: rgb(129,125,199);
    background-color: transparent;
    border: 3px solid rgb(232,161,175);

}
#newGameBtn{
    height: auto;
    width: auto;
    padding: 0.7rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: rgb(129,125,199);
    background-color: transparent;
    border: 3px solid rgb(232,161,175);
}
#msg{
    font-size: 4rem;
    color:rgb(129,125,199) ;
}
.msgContainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
 .hide {
    display: none;
}

@media screen and (max-width:1200px){
    #name h1{
        font-size: 4rem;
       }
    .game{
        height: 50vmin;
        width: 50vmin;

    }
    .box{
        height: 15vmin;
        width: 15vmin;
        font-size: 7vmin;
    }
    #reset-btn{
        font-size: 1.5rem;
        padding: 0.5rem;
     
      
    }
     #newGameBtn{
        font-size: 1.5rem;
        padding: 0.5rem;  
       }
       #msg{
        font-size: 3rem;
       }
}
@media screen and (max-width:600px){
    #name h1{
    font-size: 2.7rem;
   }
   .game{
    height: 45vmin;
    width: 45vmin;

}
.box{
    height: 14vmin;
    width: 14vmin;
    font-size: 5vmin;
}

#reset-btn{
    font-size: 1.2rem;
    padding: 0.5rem;
}
   #newGameBtn{
    font-size: 1rem;
    padding: 0.4rem;  
   }
   #msg{
    font-size: 2rem;
   }
}